<form action=""(ngSubmit)="onSubmit()">

<h2>Registrar un nuevo artículo</h2>
<div>

    <label for="">ID del Artículo</label>
  
    <input type="text" name="id" id="" [(ngModel)]="id" > 
  
  </div>

<div>

  <label for="">Nombre del Artículo</label>

  <input type="text" name="title" id="" [(ngModel)]="title" >  {{title}}

</div>

<div>

  <label for="">Precio</label>

  <input type="text" name="price" id="" [(ngModel)]="price"> 
<!--Através de [(ngModel)] capuramos los datos de additems.ts (binding de datos)-->
</div>

<div>

<label for="">Cantidad</label>

<input type="text" name="quantity" id="" [(ngModel)]="quantity"> 

</div>

<input type="submit" value="Crear">

</form>
