h2{
    margin: 20px;
}

form{
    margin: 20px;
    width: 300px;
    display: block;
    background-color:whitesmoke;
}


form label{
    display: block;
    padding: 10px 0;
}

form input[type=text],[type=email]{
    width: 60%;
    height: 10px;
    padding: 5px;
}

form textarea{
    width: 250px;
    height: 100px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

form span{
    color: red;
}